@keyframes extend {
  0% {
    width: 150px;
    height: 50px;
    border-radius: 100px;
  }

  10% {
    width: 152.5px;
    height: 52.5px;
    background: #fff;
    margin-left: - 5px;
    margin-top: - 5px;
  }

  20% {
    width: 150px;
    height: 50px;
    background: #6fb07f;
    margin-left: 0px;
    margin-top: 0px;
  }

  100% {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 47.5px;
    background: #6fb07f;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  20% {
    color: #fff;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  width: 150px;
  height: 5px;
}

.btn {
  border-width: 1px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  background: #fff;
  position: relative;
  border: 3px solid #6fb07f
}

.btn>span {
  font-size: 20px;
  font-weight: 600;
  color: #6fb07f
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: white;
  font-size: xx-large;
}

.btn:focus {
  /*animation*/
  -webkit-animation: extend 1s ease-in-out;
  -ms-animation: extend 1s ease-in-out;
  animation: extend 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards
}

.btn:focus>span {
  /*animation*/
  -webkit-animation: disappear 1s ease-in-out;
  -ms-animation: disappear 1s ease-in-out;
  animation: disappear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards
}

.btn:focus>.icon {
  /*animation*/
  -webkit-animation: appear 1s ease-in-out;
  -ms-animation: appear 1s ease-in-out;
  animation: appear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards
}