.modal {
  min-width: 350px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.container {
  width: 80%;
  padding: 5% 5% 100px 5%;
  box-shadow: inset 0 0 20px rgb(11, 168, 189);
  border-radius: 10px;
  background-color: rgb(150, 150, 150);
  display: grid;
}

.exit{
  font-size: xx-large;
  justify-self: end;
}

.title {
  color: black;
  text-align: center;
  margin-bottom: 5%;
}

.form {
  display: grid;
  justify-items: center;
  gap: 50%;
}

@media screen and (min-width: 600px) {
  .container {
    width: 60%;
    padding: 3% 3% 100px 3%;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 25%;
    padding: 2% 2% 100px 2%;
  }
}
